[Unit]
Description=Node Exporter
After=network.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
Exec=/opt/Prometheus/exporters/node_exporte/node_exporter

[Install]
WantedBy=multi-user.target
