[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User=Prometheus
Group=Prometheus
Type=simple
ExecStart=/opt/Prometheus/prometheus \
--config.file=/opt/Prometheus/prometheus.yml \
--storage.tsdb.path /var/lib/prometheus/ \
--web.console.templates=/opt/Prometheus/consoles \
--web.console.libraries=/opt/Prometheus/console_libraries

[Install]
WantedBy=multi-user.target
